<div class="container">

  <nav class="navbar navbar-expand-lg navbar-dark bg-dark mt-3">

    <a class="navbar-brand" [routerLink]="['/inicio']">
      <img src="/assets/images/angularlg.png" width="30" height="30" class="d-inline-block align-top" alt="">
      VideoTube
    </a>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">

      <ul class="navbar-nav mr-auto" *ngIf="identity">
        <li class="nav-item active">
          <a class="nav-link" [routerLink]="['/inicio']">Mis Videos</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/guardar-favorito']">Guardar Video Favorito</a>
        </li>
      </ul>

      <ul class="navbar-nav navbar-right" *ngIf="!identity">
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/login']">Login</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/registro']">Registro</a>
        </li>
      </ul>

      <ul class="navbar-nav navbar-right" *ngIf="identity">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
            {{ identity.name + ' ' + identity.surname }}
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" [routerLink]="['/ajustes']">Ajustes</a>
            <a class="dropdown-item" [routerLink]="['/logout/1']">Cerrar Sesión</a>
          </div>
        </li>
      </ul>

    </div>
  </nav>
  <!--fin de la barra de navegación-->

  <!-- contenido -->
  <!-- Etiqueta de rutas dinamicas-->
  <router-outlet></router-outlet>

  <footer class="text-muted py-2 mt-2 container-fluid p-1">
    <hr>
    <div class="row container-fluid justify-content-center">
      <div class="redes-sociales col-lg-4 col-md-12 justify-content-center p-2 mx-auto ">
        <a href="https://www.instagram.com/soypersonahumana/" class="facebook" target=”_blank”><span
            class="fab fa-facebook" target=”_blank”></span></a>
        <a href="https://www.instagram.com/igpersonahumana/" class="instagram" target=”_blank”><span
            class="fab fa-instagram" target=”_blank”></span></a>
        <a href="https://www.linkedin.com/in/jorge-mart%C3%ADnez-ruiz-49789978/?originalSubdomain=es" class="linkedin"
          target=”_blank”><span class="fab fa-linkedin"></span></a>

      </div>

      <div class="col-lg-4 col-md-12 justify-content-center align-items-center d-flex pt-2">
        <p>Designed by <a class="nacho"
            href="https://www.linkedin.com/in/franco-vitale-matus/"
            target=”_blank”>Franco Vitale Matus</a></p>            
      </div>
      

      <div class="col-lg-4 col-md-12 justify-content-center pt-2">
        &nbsp;

        <a href="https://www.facebook.com/TechMasters-105986364536631" class="text-dark">© 2020 · Agencia TechMasters. S.A.</a>

      </div>

    </div>
    
  </footer>


</div>